@charset "utf-8";
/* CSS Document */
#register_head{
	border-top:1px solid #ccc;
	height:100px;
}
#register_head .head_main{height:60px}
.warp {
    padding-bottom: 20px;
    min-height: 300px;
    display: block;
    padding: 0px;
    min-width: 960px;
    background: #fff;
	padding-top: 20px;
}
.crumbCart{
    width: 479px;
    float: right;
    height: 39px;
    margin: 15px 0;
    background: url(img/cart_step.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.pb20 {
    padding-bottom: 20px;
}
.s960 .content, .s960 .wcontent {
    width: 960px;
}
.listCart, .listCart h1, .listCart ul {
    width: 960px;
    float: left;
}
.listCart {
    position: relative;
    z-index: 500;
	left:50%;
	margin-left:-480px;
}
a {
    color: #333;
}
.listCart .radio_zk {
    border-bottom: 0;
    background-color: transparent;
}
.listCart .radio {
    padding: 0;
    padding: 5px;
    height: 30px;
    border-bottom: 2px solid #e0dad8;
    background-color: #f1eeeb;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}
.listCart .dd_sp_num {
    position: relative;
    float: right;
    display: block;
    margin-top: 7px;
    width: 70px;
    height: 17px;
    background: url(img/cart_icon.png) 0 -86px no-repeat;
    color: #fff;
    text-align: center;
    font-weight: normal;
    line-height: 17px;
    cursor: pointer;
}
b, strong {
    font-weight: bold;
}
.listCart .radio_zk .dd_sp_num i {
    top: 1px;
    border: 5px solid #c75050;
    border-bottom-color: #fff;
}
.listCart .dd_sp_num i {
    position: absolute;
    top: 5px;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    border: 5px solid #c75050;
    border-top-color: #fff;
}
.listCart .radio .radio_lf {
    float: left;
    height: 30px;
}
.listCart .radio .radio_lf input {
    display: none;
}
.listCart .radio .radio_lf input, .listCart .radio .radio_lf label {
    float: left;
}
.listCart .radio .radio_lf input {
    height: 30px;
}
.listCart .radio input {
    vertical-align: middle;
}
.mr5 {
    margin-right: 5px;
}
.listCart .radio .radio_lf input, .listCart .radio .radio_lf label {
    float: left;
}
.listCart .radio .radio_lf label b.on, .listCart .radio_zk .radio_lf label.cartType b {
    background: url(img/radio_s.png) 0 0 no-repeat;
}
.listCart .radio .radio_lf label b {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(img/radio.png) center center no-repeat;
    vertical-align: middle;
}
.scroll {
    position: relative;
    display: none;
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
    background: #f1eeeb;
}
.listCart ul li .top {
    width: 960px;
    float: left;
    display: none;
}
.listCart .top .boxBorRed {
    width: 960px;
    border-top: 2px solid #85726c;
}
.listCart .top .trTitle {
    position: relative;
    z-index: 51;
}
.listCart .top .trTitle table {
    background-color: #f1eeeb;
}
.cartList table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table, tbody, tfoot, thead, tr, th, td {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    margin: 0px;
}
.listCart .top .boxBorRed table td {
    padding: 0 5px;
    text-align: center;
}
.listCart .top .marginTop {
    position: relative;
    z-index: 52;
    float: left;
    display: inline;
    margin-top: -1px;
    padding: 0;
    background-color: #fff;
}
.listCart .top table.inTable {
    float: left;
    width: 960px;
    font-family: Arial;
}
.listCart .top table tr.border {
    background-image: url(img/xuxianX.gif);
    background-position: top;
    background-repeat: repeat-x;
}
.listCart .top table.inTable td.btn_fx {
    vertical-align: middle;
    text-align: center;
}
.listCart .top table.inTable td {
    padding: 10px 0 10px 0;
    vertical-align: middle;
}
.listCart .top table.inTable td.btn_fx input {
    float: none;
    width: 15px;
    height: 15px;
    border: 0;
    text-align: center;
}
.listCart .top table.inTable td input {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 22px;
    border: 1px solid #bea9a0;
    color: #666;
    text-align: center;
    font: normal normal 12px/25px 宋体;
}
input {
    vertical-align: middle;
}
.listCart .top table.inTable td.left {
    padding-left: 10px;
    color: #666;
    text-align: left;
    font: normal normal 12px/24px Arial;
}
.listCart .top table.inTable td {
    padding: 10px 0 10px 0;
    vertical-align: middle;
}
.listCart .top table.inTable td.left a {
    color: #06c;
    font: normal normal 12px/24px 宋体;
}
.listCart .top table.inTable td.left img {
    margin-right: 10px;
    width: 60px;
    height: 98px;
    border: 0;
}
.inTable span {
    color: #ff4300;
}
.red {
    color: #b20000;
}
.listCart .top table.inTable td.left ins {
    color: #FFf;
    text-decoration: none;
}
.cartList table td b {
    margin-left: 2px;
    color: #333;
    font: normal bold 16px/32px arial;
}
.listCart .top table.inTable td .jj_box {
    position: relative;
    float: left;
    margin-left: 30px;
    width: 58px;
    height: 24px;
    color: #000;
}
.listCart .top table.inTable td a.left_jy {
    background-position: 0 -134px;
}
.listCart .top table.inTable td a.left {
    float: left;
    display: inline;
    margin-right: 0;
}
.listCart .top table.inTable td a.left, .listCart .top table.inTable td a.right {
    float: left;
    overflow: hidden;
    margin-top: 0;
    width: 13px;
    height: 24px;
    background-image: url(img/cart_icon.png);
    background-position: 0 -107px;
    text-indent: -999px;
}
.listCart h1 b ins, .listCart h1 span p a, .listCart li div table.inTable td a.left, .listCart li div table.inTable td a.right, .listCart div.zhek_b a.bnt, .listCart ul li.buy a, .listCart li.buy a.buy, .cartActivity h1, .cartActivity dl dd a, .cartGift h1, .cartGift dl dd a, .cartAdd h1, .cartAdd dl dd a, .cartMover h1, .jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active, .jcarousel-skin-tango .jcarousel-prev-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active, .cartMover li dl dd a, .cartAddNew li table td a.bnt, .cartError h1, .cartAddOld li a.bc, .cartAddNew li a.bc, .cartAddNew li table td a.bc, .cartAddNew li table td i, .cartAddNew li table td em, .cartAddOld li table td a.bnt, .cartAddOld li table td a.bc, .cartAddOld li table td i, .cartAddOld li table td em, .cartList dl dd table i, .cartList dl dd table em, .cartList dl dd table td a.bnt, .cartList dl dd table td dfn, .cartConfirm li h3, .cartMover a.right, .cartMover a.left, .cartMover a.rightNone, .cartMover a.leftNone, .forgetPass h1 a, .forgetPass ul li a.fs, .info-erro {
    background: url(img/global_btnIcon.png) no-repeat;
}
.listCart .top table.inTable td input {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 22px;
    border: 1px solid #bea9a0;
    color: #666;
    text-align: center;
    font: normal normal 12px/25px 宋体;
}
.listCart .top table.inTable td a.right {
    background-position: -45px -107px;
}
.listCart .top table.inTable td a.left, .listCart .top table.inTable td a.right {
    float: left;
    overflow: hidden;
    margin-top: 0;
    width: 13px;
    height: 24px;
    background-image: url(img/cart_icon.png);
    text-indent: -999px;
}
.listCart h1 b ins, .listCart h1 span p a, .listCart li div table.inTable td a.left, .listCart li div table.inTable td a.right, .listCart div.zhek_b a.bnt, .listCart ul li.buy a, .listCart li.buy a.buy, .cartActivity h1, .cartActivity dl dd a, .cartGift h1, .cartGift dl dd a, .cartAdd h1, .cartAdd dl dd a, .cartMover h1, .jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active, .jcarousel-skin-tango .jcarousel-prev-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active, .cartMover li dl dd a, .cartAddNew li table td a.bnt, .cartError h1, .cartAddOld li a.bc, .cartAddNew li a.bc, .cartAddNew li table td a.bc, .cartAddNew li table td i, .cartAddNew li table td em, .cartAddOld li table td a.bnt, .cartAddOld li table td a.bc, .cartAddOld li table td i, .cartAddOld li table td em, .cartList dl dd table i, .cartList dl dd table em, .cartList dl dd table td a.bnt, .cartList dl dd table td dfn, .cartConfirm li h3, .cartMover a.right, .cartMover a.left, .cartMover a.rightNone, .cartMover a.leftNone, .forgetPass h1 a, .forgetPass ul li a.fs, .info-erro {
    background: url(img/global_btnIcon.png) no-repeat;
}
.listCart .top table.inTable td.xj_price {
    color: #c75050;
}
table.inTable td.btn_edit {
    position: relative;
}
table.inTable td.btn_edit .tip_fram {
    position: absolute;
    right: -8px;
    margin-top: -40px;
    width: 140px;
    *margin-top: -10px;
}
.col-blue {
    border-color: #65bb3c;
    background-color: #f7ffe8;
}
.tip_fram {
    position: relative;
    z-index: 50;
    display: block;
    margin-bottom: 20px;
    padding: 4px 0;
    width: 200px;
    border: 1px solid #bfb3aa;
}
.listCart .top table.inTable td.btn_edit a {
    color: #3172b2;
}
#listCartClose span p a.close {
    width: 13px;
    height: 13px;
    display: block;
    text-indent: -999px;
    overflow: hidden;
    background-position: -317px -120px;
    position: absolute;
    left: 690px;
    top: 11px;
}
.listCart h1 {
    height: 43px;
    font: normal normal 12px/32px 宋体;
}
.listCart, .listCart h1, .listCart ul {
    width: 960px;
    float: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
#listCartClose {
    width: 712px;
    height: 43px;
    display: block;
    position: relative;
    float: left;
}
#listCartClose span {
    width: 712px;
    float: left;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}
#listCartClose span p {
    width: 700px;
    float: left;
    border: 1px solid #ccc;
    padding-left: 10px;
    color: #666;
}
#listCartClose span p font {
    color: #F60;
    font-size: 12px;
}
#listCartClose span i {
    width: 2px;
    height: 2px;
    display: block;
    overflow: hidden;
    background: #fff;
    position: absolute;
    left: 620px;
    top: 0;
    clear: both;
}
#listCartClose span i.b {
    left: 0;
    top: 34px;
}
#listCartClose span s {
    width: 14px;
    height: 9px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url(img/titleCartTopBg.png) no-repeat;
    position: absolute;
    top: 33px;
    left: 40px;
    z-index: 4;
}

